/* ----------------------------------------------------------- */
/* == colors */
/* ----------------------------------------------------------- */

/* palette
-------------------------------------------------------------- */

:root {
  --color-primary: #3498db;
  --color-secondary: #1abc9c;
  --color-tertiary: #34495e;
  --color-info: #2185d0;
}

/* texts
-------------------------------------------------------------- */

:root {
  --color-light-text: #fcfcfc;
  --color-dark-text: #000;
}

/* links
-------------------------------------------------------------- */

:root {
  --color-link: var(--color-primary);
}
