/* ----------------------------------------------------------- */
/* == config */
/* ----------------------------------------------------------- */

@import "colors.css";
@import "config.css";

/* ----------------------------------------------------------- */
/* == core */
/* ----------------------------------------------------------- */

@import "1-core/_00-reset.css";
@import "1-core/_01-typography.css";

/* ----------------------------------------------------------- */
/* == components */
/* ----------------------------------------------------------- */

@import "2-components/_buttons.css";

/* ----------------------------------------------------------- */
/* == base */
/* ----------------------------------------------------------- */

@import "3-base/_01-fonts.css";
@import "3-base/_02-main.css";
@import "3-base/_03-layout.css";

/* ----------------------------------------------------------- */
/* == modules */
/* ----------------------------------------------------------- */

@import "4-modules/preview.css";
@import "4-modules/progress-bar.css";
@import "4-modules/encoding.css";

/* ----------------------------------------------------------- */
/* == screens */
/* ----------------------------------------------------------- */

@import "5-screens/welcome.css";
@import "5-screens/capture.css";

/* ----------------------------------------------------------- */
/* == helpers */
/* ----------------------------------------------------------- */

@import "6-helpers/_alignment.css";
@import "6-helpers/_spacing.css";
@import "6-helpers/_width.css";

/* ----------------------------------------------------------- */
/* == rwd */
/* ----------------------------------------------------------- */

@import "7-rwd/_rwd-xsmall.css";
@import "7-rwd/_rwd-small.css";
@import "7-rwd/_rwd-medium.css";
@import "7-rwd/_rwd-large.css";
