/* ----------------------------------------------------------- */
/* == rwd -> small */
/* ----------------------------------------------------------- */

@media (min-width: 768px) {
  .layout {
    flex-grow: inherit;
  }

  /* Welcome screen
  -------------------------------------------------------------- */

  .welcome {
    justify-content: center;
  }

  .welcome-about {
    margin-top: 0;
    margin-bottom: 4rem;
  }

  .welcome-illu {
    margin-top: -1.5rem;
    margin-bottom: 4rem;
  }

  .welcome-steps {
    font-size: 1.6rem;
  }

  /* Capture screen
  -------------------------------------------------------------- */

  .capture-btn,
  .capture-btn:visited {
    margin-top: 0;
  }
}
