/* ----------------------------------------------------------- */
/* == rwd -> large */
/* ----------------------------------------------------------- */

@media (orientation: landscape) and (max-height: 450px) {
  /* layout
  -------------------------------------------------------------- */

  .layout {
    flex-direction: row;
    align-items: center;
    margin-top: auto;
    margin-right: 0;
    margin-bottom: auto;
    margin-left: 0;
    max-width: none;
    max-height: calc(100% - 2rem);
    width: 100%;
  }

  /* Welcome screen
  -------------------------------------------------------------- */

  .welcome {
    align-items: center;
  }

  .welcome-illu {
    max-height: 50vh;
  }

  .welcome-about {
    margin-bottom: 2rem;
  }

  /* Capture screen
  -------------------------------------------------------------- */

  .capture-body {
    position: fixed;
    right: 0;
    left: 0;
    overflow-y: hidden;
  }

  .capture {
    flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 2rem;
  }

  .capture-progress {
    align-self: center;
  }

  .capture-btn {
    flex-shrink: .0;
    margin: 0 auto;
  }

  /* Options
  -------------------------------------------------------------- */

  .options {
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    width: 11.5rem;
  }

  .options__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .options__btn svg {
    margin-right: 0;
    margin-bottom: .5rem;
  }

  /* Progress bar
  -------------------------------------------------------------- */

  .progressBar {
    margin-right: 1rem;
    margin-left: 1rem;
    width: 9.5rem;
    height: auto;
  }

  /* Preview
  -------------------------------------------------------------- */

  .preview {
    flex-shrink: 0;
    margin-right: 2rem;
    margin-bottom: 0;
    max-width: 80vh;
  }

  /* Download
  -------------------------------------------------------------- */

  .download {
    flex-direction: row;
    align-items: center;
    padding-right: 2rem;
  }

  .download-btn,
  .download-btn:visited {
    margin: auto 0;
    margin-right: auto;
    margin-left: auto;
    width: auto;
  }
}
