/* ----------------------------------------------------------- */
/* == Download screen */
/* ----------------------------------------------------------- */

.download {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
}

.download-btn,
.download-btn:visited {
  margin-top: auto;
  margin-bottom: 4rem;
}
