/* Preview screen
-------------------------------------------------------------- */

.previewPage {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-width: 100%;
  text-align: center;
}
