/* ----------------------------------------------------------- */
/* == layout */
/* ----------------------------------------------------------- */

.layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  margin-right: auto;
  margin-left: auto;
  max-width: 32rem;
}
